extends ../../common-templates/layout

block content
  h1 Transfer funds
  form(action="/funds-transfers" method="POST")
    .form-group
      label(for="accountId") Funds Transfer ID 
      input.form-control(type="text" name="fundsTransferId" value=fundsTransferId readonly)
    .form-group
      label(for="withdrawalAccountId") Withdrawal Account ID
      input.form-control(type="text" name="withdrawalAccountId")
    .form-group
      label(for="depostAccountId") Deposit Account ID
      input.form-control(type="text" name="depositAccountId")
    .form-group
      label(for="amount") Amount
      input.form-control(type="text" name="amount")
    button(type="submit") Transfer!
