extends ../../common-templates/layout

block content
  h1 Open an account 
  form(action="/" method="POST")
    .form-group
      label(for="accountId") Account ID
      input.form-control(type="text" name="accountId" value=accountId readonly)
    .form-group
      label(for="customerId") Customer ID
      input.form-control(type="text" name="customerId" value=customerId readonly)
    button(type="submit") Open!
