<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>HTML5</title>
  <meta name="description" content="HTML5">
  <meta name="author" content="SitePoint">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>


    <div id="app">

        <!-- Binding to Element Attribute -->
        <!-- Mustaches '{{}}' cannot be used inside HTML attributes. Instead, use a v-bind directive -->
        <span v-bind:title="tooltip">
            <!-- Declarative Content Rendering -->
            <p>Original message: "{{ message }}"</p>
            <!-- computed properties are cached based on their dependencies.
                A computed property will only re-evaluate when some of its
                dependencies have changed -->
            <p>Computed reversed message: "{{ reversedMessageTwo }}"</p>
        </span>

        <!-- v-model for two-way instant binding within Vue Component -->
        <input v-model="message" />

        <!-- Click Events -->
        <button v-on:click="reverseMessage">Reverse Message</button>
        <!-- Event Modifiers -->
        <!-- https://vuejs.org/v2/guide/events.html#Event-Modifiers -->
        <form v-on:submit.prevent="onSubmit"></form>
        <a v-on:click.once="doThis"></a>
        <br/>

        <!-- Conditionals -->
        <span v-if="!show">Can't see me...</span>
        <br/>
        <span v-if="show">I know you can see me</span>

        <!-- Looping over arrays items and object properties -->
        <!-- It is recommended to provide a key with v-for whenever
        possible, unless the iterated DOM content is simple, or you
        are intentionally relying on the default behavior for
        performance gains. -->
        <!-- Array Mutation Wrappers -->
        <!-- https://vuejs.org/v2/guide/list.html#Mutation-Methods -->
        <ol>
            <li v-for="(todo, index) in todos" :key="todo.id">
                {{ todo.text }} @index-{{ index }}
            </li>
        </ol>
        <!-- Object Mutation Wrappers -->
        <!-- Vue.set(object, key, value) -->
        <!-- https://vuejs.org/v2/guide/list.html#Object-Change-Detection-Caveats -->
        <ul>
            <li v-for="(value, key) in person">
                {{ key }}: {{ value }}
            </li>
        </ul>
        <!-- v-for with a following v-if -->
        <!-- when using a v-if with a v-for, the for has a higher priority
            and if run first, then yielding and passing each item to the if -->
        <ol>
            <li v-for="todo in todos" v-if="!todo.isComplete">
                {{ todo.text }}
            </li>
        </ol>
        <!-- for can be used directly on a component -->
        <!-- https://vuejs.org/v2/guide/list.html#v-for-with-a-Component -->

        <!-- The 'mustaches' rendering syntax is interpreted as plain text
            if rendering HTML into your component's HTML, you must use the
            v-html directive on a wrapper element.
            -->
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>

        <!-- Full JavaScript is supported within all data-bindings, mustache as well as v-bind directives -->
        <p>{{ number + 1 }}</p>
        <p>{{ ok ? 'YES' : 'NO' }}</p>
        <p>{{ message.split('').reverse().join('') }}</p>
        <div v-bind:id="'list-' + id"></div>

        <!-- Modifiers: e.preventDefault -->
        <form v-on:submit.prevent="onSubmit"> ... </form>

        <!-- v-bind Shorthand -->
        <a v-bind:href="url"> ... </a><!-- full syntax -->
        <a :href="url"> ... </a><!-- shorthand -->
        <a v-on:click="doSomething"> ... </a>
        <a @click="doSomething"> ... </a><!-- shorthand -->

        <!-- CSS Class & Style Manipulations -->
        <!-- inline example -->
        <div class="static"
             v-bind:class="{ active: isActive, 'text-danger': hasError }">
        </div>
        <!-- will render <div class="static active"></div> -->
        <!-- object-based -->
        <div v-bind:class="classObject"></div>
        <!-- computed object-based -->
        <div v-bind:class="classObjectComputed"></div>
        <!-- array syntax -->
        <div v-bind:class="[activeClass, errorClass]"></div>
        <!-- will render <div class="active text-danger"></div> -->
        <!-- Ternary expression -->
        <div v-bind:class="[isActive ? activeClass : '', errorClass]"></div>
        <!-- Object syntax inside array syntax -->
        <div v-bind:class="[{ active: isActive }, errorClass]"></div>

        <!-- Conditional Rendering -->
        <h1 v-if="ok">Yes</h1>
        <h1 v-if="ok">Yes</h1>
        <h1 v-else>No</h1>
        <h1 v-show="ok">Hello!</h1>

        <!-- Conditional groups of elements using template -->
        <template v-if="!ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>

        <!-- if-else -->
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>

        <!-- if-elseif-else -->
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <!-- Controlling Reusable Elements -->
        <!-- https://vuejs.org/v2/guide/conditional.html#Controlling-Reusable-Elements-with-key -->

        <!-- Key modifiers -->
        <!-- https://vuejs.org/v2/guide/events.html#Mouse-Button-Modifiers -->
        <!-- https://vuejs.org/v2/guide/events.html#Key-Modifiers -->
        <!-- https://vuejs.org/v2/guide/events.html#System-Modifier-Keys -->
        <!-- same as above -->
        <input v-on:keyup.enter="submit">
        <!-- also works for shorthand -->
        <input @keyup.enter="submit">
        <!-- Alt + C -->
        <input @keyup.alt.67="clear">
        <!-- this will fire even if Alt or Shift is also pressed -->
        <button @click.ctrl="onClick">A</button>
        <!-- this will only fire when Ctrl and no other keys are pressed -->
        <button @click.ctrl.exact="onCtrlClick">A</button>

        <!-- Multi-line Text -->
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>

        <!-- Checkbox -->
        <input type="checkbox" id="checkbox" v-model="ok">
        <label for="checkbox">{{ ok }}</label>

        <!-- Multiple checkboxes, bound to the same Array: -->
        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <!-- Components -->
        <blog-post title="This should become the title within this component"></blog-post>

        <blog-post
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:title="post.title"
        ></blog-post>

    </div>


    <script src="vue.js"></script>
    <script src="index.js"></script>
</body>
</html>
