.cockpit button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

.cockpit button.red {
    background-color: red;
}

.cockpit button.red:hover {
    background-color: pink;
}

.cockpit .redText {
    color: red;
}

.cockpit .boldText {
    font-weight: bold;
}